receivers:
  otlp:
    protocols:
      grpc:
        endpoint: localhost:4317
        # # TLS
        # tls:
        #   cert_file: <path>
        #   key_file: <path>
        #
        # # Authentication
        # auth:
        #   authenticator: bearerauth

extensions:
  neblic:
    endpoint: localhost:8899
  #   # Unique id, if not provided a random id is used
  #   uid: <unique collector id>
  #
  #   # Configure config database location
  #   # Required to enable sampler configuration persistence
  #   storage_path: <path>
  #
  #   # TLS
  #   tls:
  #     cert_file: <path>
  #     key_file: <path>
  #
  #   # Authentication
  #   auth:
  #     type: bearer
  #     bearer:
  #       token: "some_token"
  #
  #
  # # Enable bearerauth extension si it can be used as a receiver authenticator
  # bearerauth:
  #   token: "some_token"

exporters:
  logging:

service:
  telemetry:
    logs:
      level: "debug"
  pipelines:
    logs:
      receivers:
      - otlp
      exporters:
      - logging
  extensions:
    - neblic
    # - bearerauth