:root {
  --md-primary-fg-color: #4306e4;
  --md-primary-fg-color--light: #9087A9;
  --md-primary-fg-color--dark: #1D1433;
  --md-primary-bg-color: #FFFEFF;
  --md-primary-bg-color--light: #E1DAF3
;
  --md-text-link-color: #4306e4;

  /* Accent color shades */
  --md-accent-fg-color: #4306e4;
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: #E1DAF3;
}

:root>* {
  /* Code block color shades */
  --md-code-bg-color: #FFFEFF;
  --md-code-fg-color: #633DCC;

  /* Footer */
  --md-footer-fg-color: #FFFEFF;
  --md-footer-bg-color: #4306e4;
  --md-footer-bg-color--light: #9087A9;
  --md-footer-bg-color--dark: #1D1433;
}

/* Maximum space for text block */
.md-grid {
  max-width: 90%;
}
